{% load static from staticfiles %}

<!Doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/about-me-style.css' %}">
</head>

<body>

<link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>

<header class="masthead">
  <p class="masthead-intro">Hi,  I'm</p>
  <h1 class="masthead-heading"> Shaylee!</h1>
  <a class="hand-return" href="http://portfolio.shayleehansen.com/"><i class="fa fa-hand-o-left fa-2x" aria-hidden="true"></i></a>

</header>
<br/>
<section>
  <br />
  <br/>
  <h2>Intro</h2>
  <p>I'm a tall brunette that loves to play the redhead. I've been married for a little over year to a wonderful man named Alex. We met at work. We have a dog named Chloe who is a Brussels Griffon that we share joint custody of with my family.</p>
</section>
<br/>
<br/>
<section>
  <h2>Where I'm from</h2>
  <p> I'm a native of Utah.  As a youngling I grew up in the suburbs of West Jordan. In my early 20's I moved to the Ft. Union area where I have been ever since. </p>
</section>
<br />
<br/>
<section>
  <h2>More About Me </h2>
  <br/>
  <h3>Hobbies :</h3>
  <p>Cuddling, Hiking( love the outdoors), Baking ( I make mean chocolate chip cookies ), Netflixing, Walking my dog and learning the in's and out's of coding.
</p>
</section>
<br />
<br/>
<section>
  <h3>What music have you been listening to lately?</h3>
  <p>Lately I have been using Pandora for my music listening needs.Stations that I've been currently listening to are 90's alternative, Icona Pop Radio, and Dead Kennedy's ( a Thursday thing ).</p>
</section>
<footer>
<ul>
  <li id="follow-button"><a href="https://twitter.com/HansenShaylee" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @HansenShaylee</a></li>
    <!--<li id="share-button"><a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large">Tweet</a></li>-->
   <li><a href="https://twitter.com/intent/tweet?screen_name=HansenShaylee" class="twitter-mention-button" data-size="large" data-related="HansenShaylee">Tweet to @HansenShaylee</a></li>
</ul>
</footer>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

        window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};


if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };


  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


return t;
}(document, "script", "twitter-wjs"));


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1531820980479355";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
