{% load static from staticfiles %}

<!Doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about-me-style.css' %}">
</head>

<body>

<link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>

<header class="masthead">
  <p class="masthead-intro">Hi,  I'm</p>
  <h1 class="masthead-heading"> Shaylee!</h1>
</header>

<section>
  <h2 class="intro">Introduction</h2>
  <p>I'm a tall brunette that loves to play the redhead. I've been married for a little over year to a wonderful man named Alex. We met at work. We have a dog named Chloe who is a Brussels Griffon that we share joint custody of with my family.</p>
</section>
<br />
<section>
  <h2>Where I'm from</h2>
  <p> I'm a native of Utah.  As a youngling I grew up in the suburbs of West Jordan. In my early 20's I moved to the Ft. Union area where I have been ever since. </p>
</section>
<br />
<section>
  <h2>More about Me</h2>
  <h3>My favorite hobbies are:</h3>
  <p>Cuddling, Hiking( love the outdoors), Baking ( I make mean chocolate chip cookies ), Netflixing, Walking my dog and learning the in's and out's of coding.
</p>
</section>
<br />
<section>
  <h3>What music have you been listening to lately?</h3>
  <p>Lately I have been using Pandora for my music listening needs.Stations that I've been currently listening to are 90's alternative, Icona Pop Radio, and Dead Kennedy's ( a Thursday thing ).</p>
</section>
<br />
<footer>
  <!--<ul>
    <li> <a href="https://www.facebook.com/shaylee.wheatley"><i class="fa fa-facebook-square fa-3x"></i></a></li>
    
    <li><a href="http://codepen.io/monkeymohawk/"><i class="fa fa-codepen fa-3x"></i></a></li>
    <li><a href="https://twitter.com/HansenShaylee"><i class="fa fa-twitter-square fa-3x"></i></a></li>
    </ul>-->
</footer>
  
</body>
</html>