{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shaylee Hansen's Portfolio</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles-2.css' %}" rel="stylesheet">
    <!--<link href="{% static 'css/-index-mystyle.css'%}" media="(max-width: 800px)" rel="stylesheet">-->
    <link rel="icon" href="{% static 'favicon/favicon-girl.ico' %}" type="image/x-icon">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>


</head>


<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#page-top">Shaylee Hansen</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                    <a href="http://shayleehansen.com/">Blog</a>
                       
                    </li>
                    <li class="page-scroll">
                     <a href="#django-projects">Django Projects</a>
                        
                    </li>
                    <li class="page-scroll">
                     <a href="#about">Skills</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#resume">Resume</a>
                   </li>
                    <li>
                       <a href="/Projects/projects">Beginner Projects</a>
                   </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Header -->
    <header>
        <div class="container">
            <div class="row no-gutter">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <img class="img-responsive linkedin" src="{% static 'images/linkedIn.jpg'%}" alt="">
                     <div class="intro-text">
                        <span class="name">Web Developer</span>
                        <hr class="star-light">
                        <ul class="list-inline">
                           <li>
                               <a href="https://github.com/swheatley" class="btn-social btn-outline"><i class="fa fa-fw fa-github-square"></i></a>
                           </li>
                           <li>
                               <a href="http://codepen.io/monkeymohawk/" class="btn-social btn-outline"><i class="fa fa-codepen"></i></a></li>
                           </li>
                           <li>
                               <a href="https://twitter.com/HansenShaylee" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                           </li>
                           <li>
                               <a href="https://www.linkedin.com/in/shayleehansen" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                           </li>
                           <li>
                               <a href="http://swheatley29.tumblr.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
                           </li>
                           <li>
                               <a href="https://medium.com/@HansenShaylee" class="btn-social btn-outline"><i class="fa fa-fw fa-medium"></i></a>
                           </li>
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="django-projects">
        <div class="container">
          <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Django Projects</h2>
              <hr class="star-primary">
          </div>
          </div>
          <div class="row">
                <div class="col-sm-4 portfolio-item portfolio-github">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img style="width: 360px; height: 288px;" src="{% static 'images/portfolio/gitkitty.jpg'%}" class="img-responsive" alt="">
                        <a href='https://github.com/swheatley'>
                            <p>Github</p>
                        </a>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                            <img style="width: 360px; height: 288px;" src="{% static 'images/portfolio/salon-md_Fotor.jpg'%}" class="img-responsive" alt="">
                            <a href="http://sharonshairdesigns.com">
                                <p>( Django Framework ) Final Project</p>
                            </a>
                        </a>
                    </div>

                      <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <img style="width: 284px; height: 288px;" src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Froot-Loops-Cereal-Bowl.jpg">
                            <a href="http://cereal.shayleehansen.com/">
                                <p> ( Django Framework ) Cereal App</p>
                            </a>

                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                            <img style="width: 360px; height: 288px" src="{% static 'images/portfolio/blog/djangogirl.png'%}" class="img-responsive" alt="alt">
                            <a href="http://blog.shayleehansen.com/">
                                <p>( Django Framework ) Django Blog</p>
                            </a>


                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                            <img style="width: 284px; height: 288px;" src="{% static 'images/portfolio/djangostates.png' %}">
                            <a href="http://firstdjango.shayleehansen.com">
                                <p>(Django Framework ) Django States</p>
                            </a>
                        </a>
                    </div>

                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <img style="width: 284px; height: 288px;" src="{% static 'images/portfolio/i_love_music_Fotor_Fotor.jpg'%}" class="img-responsive" alt="">
                            <a href="http://musicapp.shayleehansen.com">
                                <p> ( Django Framework ) Music App</p>
                            </a>
                         </a>
                     </div>
                </div>
            </div>
        </section>
    

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="text-center skill-images">
                <div class="skill-list">
                    <img class="list-item" style="width: 284px; height: 288px;" src="{% static 'images/portfolio/django.png'%}">
                    <img class="list-item" style="width: 284px; height: 288px;" src="{% static 'images/portfolio/python.png'%}">
                    <img class="list-item" style="width: 300px; height: 288px;" src="{% static 'images/portfolio/javascript.png'%}">
                   
                </div>
                  <div class="skill-list-two">
                    <img class="list-item" style="width: 190px; height: 288px;" src="{% static 'images/portfolio/jquery_bumper.sh.png'%}">
            
                     <img style="width: 284px; height: 288px;" src="{% static 'images/portfolio/php_bumper.png'%}">
                     <img style="width: 284px; height: 288px;"  src="{% static 'images/portfolio/mysql_bumper.png'%}">
                    </div>

                    <div class="skill-list-three"> 
                       <img  style="width: 233px; height: 237px;" src="{% static 'images/portfolio/worpress_logo.png'%}">
                       <img  style="width: 233px; height: 237px;"  src="{% static 'images/portfolio/sass_logo.png'%}">
                       <img  style="width: 284px; height: 288px;"  src="{% static 'images/portfolio/github-logo.png'%}">
                    </div>
                     <div class="skill-list-four"> 
                      <img style="width: 190px; height: 288px;" src="{% static 'images/portfolio/html5_logo.png'%}">
                      <img style="width: 200px; height: 300px;" src="{% static 'images/portfolio/css3_logo.png'%}">
                      <img  style="width: 233px; height: 237px;"  src="{% static 'images/portfolio/bootstrap_logo.png'%}">
                     </div>
                </div>
            </div>

        </div>
    </section>



    <!-- Resume Section  -->
    <div id="resume">
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="languages-container container-block">
                <h2 class="container-block-title">Skills</h2>
                <ul class="list-unstyled interests-list">
                    <li>HTML5 & CSS3 & Sass</li>
                    <li>Bootstrap</li>
                    <li>Python & Django</li>
                    <li>jQuery & Javascript & JSON</li>
                    <li>Vue.js</li>
                    <li>PHP & Wordpress</li>
                    <li>Photoshop</li>
                    <li>mySQL & phpMyAdmin</li>
                    <li>Git & Github & Beanstalk & Bitbucket</li>
                    <li>Gulp & Grunt </li>
                    <li>Linode & Small Orange</li>
                    <li>Unix & Linux</li>
                </ul>
            </div>
            
            <!--Sidebar Education Container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Certificate in Python/Django Web Development</h4>
                    <h5 class="meta">V School | Coding Campus</h5>
                    <div class="time">2015</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">A.S in Radiology Technology</h4>
                    <h5 class="meta">Salt Lake Community College</h5>
                    <div class="time">2007-2009</div>
                </div>
                  <div class="item">
                    <h4 class="degree">A.S in General Studies</h4>
                    <h5 class="meta">Salt Lake Community College</h5>
                    <div class="time">2004-2006</div>
                </div>
            </div>

            <!-- Sidebar Contact Contauner-->
            
              <div class="contact-container container-block">
                <h2 class="container-block-title">Contact</h2>
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:shaylee1@me.com">shaylee1@me.com</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://shayleehansen.com" target="_blank">shayleehansen.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/shayleehansen/" target="_blank">linkedin.com/in/shayleehansen</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/swheatley" target="_blank">github.com/swheatley</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/HansenShaylee" target="_blank">@HansenShaylee</a></li>
                </ul>
            </div>      
        </div>

        <!-- Main Resume Container-->
        
        <div class="main-wrapper">
        <section class="section title-section">
                <h2 class="name">Resume</h2>
                <h3 class="tagline">Web Developer</h3>
        </section>
            <section class="section experiences-section">
                <h2 class="section-title">Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Interactive Developer Intern</h3>
                            <div class="time">September 2016 - January 2017</div>
                        </div>
                        <div class="company">Welikesmall, Salt Lake City</div>
                    </div>
                    <div class="details">
                        <p class="code-languages">Vue.js, Handlebars.js, Leaflet.js, jQuery, Django, CSS/SASS Flexbox, HTML, Bootstrap Grunt/Gulp, Photoshop, Markdown, PyCharm, Git Tower, Bitbucket, Responsive Design</p>
                        <p>- Built and styled social media components for a homepage through the use of of Vue.js.Built and styled a ‘Developer Portal’ webpage that included variety of HTML tables and copy.</p>
                        <p>- Built and styled a ‘Developer Portal’ webpage that included variety of HTML tables and copy.</p>
                        <p>- Implemented copy changes through HTML markup.</p>
                        
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Jr Front End Developer</h3>
                            <div class="time">February 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Gcommerce Solutions, Park City</div>
                    </div>
                    <div class="details">
                        <p class="code-languages">PHP, Wordpress, MySQL, phpMyAdmin, jQuery, CSS/SASS/Flexbox, HTML, Gulp, Photoshop, Agile Development, Responsive Design, Beanstalk</p> 
                         
                          <p>- Utilized PSD  les in the building and creation of responsive web pages.</p>
                          <p>- Completed and documented bi-weekly maintenance tasks from Project Managers.</p>
                          <p>- Participated in weekly and daily Scrum meetings.</p>
                           
                    </div>
                </div> 
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">VIP Licensed Benefit Specialist</h3>
                            <div class="time">August 2011 - August 2015</div>
                        </div>
                        <div class="company">Willis Towers Watsons OneExchange, South Jordan</div>
                    </div>
                    <div class="details">
                          <p>- Assisted Application Data Processors in completing applications and answering customer questions.</p>
                          <p>- Mentored and on-board Special Situation team members.</p>
                          <p>- Participated in the creation of a training manual for new Licensed Benefit Specialists.</p>  
                    </div>
                </div>

                   <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graveyard Radiology Technologist</h3>
                            <div class="time">October 2008 - June 2011</div>
                        </div>
                        <div class="company">Primary Children's Hospital, Salt Lake City</div>
                    </div>
                    <div class="details">
                        <p> - Performed all X-ray, CT, and  uoroscopy exams between the hours of 930pm - 730am.</p>  
                    </div>
                </div>

                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member Service Representative</h3>
                            <div class="time">October 2006 - October 2008</div>
                        </div>
                        <div class="company">University Federal Credit Union, West Jordan</div>
                    </div>
                    <div class="details">
                     <p> - As a Member Service Representative I was able to quickly and accurately process routine transactions of members, including cashing checks and making deposits, loan payments, and withdrawals.</p>
                    </div>
                </div>
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Sales Associate</h3>
                            <div class="time">August 2004 - October 2006</div>
                        </div>
                        <div class="company">Famous Footwear, West Jordan</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>  -As a Sales Associate I assisted customers in all shoe related needs from finding the right sizes to making the final purchase. Other duties included maintaining store cleanliness, organizing product and product display.</p>
                    </div>
                </div>        
            </section>

            <!-- Projects and Organizations containers -->
            <section class="section projects-section">
                <h2 class="section-title">Projects & Organizations</h2>
                <div class="intro project">
                    <p><strong>Blog:</strong> created a personal Wordpress blog to document my coding experiences and showcase personal projects.</p>
                    <p><strong>Website:</strong><a href="http://shayleehansen.com/">http://shayleehansen.com</a></p>
                </div>
                 <div class="intro organization">
                    <p><img src="{% static 'images/py_ladies_slc.jpg' %}" ><strong>PyladiesSLC:</strong> Co-Organizer</p>
                    <p><img src="{% static 'images/girl_developt_it.png' %}"><strong>Girl Develop It:</strong> Member</p>
                </div>    
            </section>

        </div>
    </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                      <p>Copyright &copy; Shaylee Hansen 2016</p>
                      <p>Powered by:</p> <img class="white-background"  style="width: 210px; height: 100px;"  src="{% static 'images/portfolio/powered-by-django.png'%}">

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll visible-xs visible-sm">
              <a class="btn btn-primary" href="#page-top">
                  <i class="fa fa-arrow-circle-up fa-2x"></i>
              </a>
      </div>   

      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- jQuery -->
        <script src="{% static 'js/jquery.js'%}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/cbpAnimatedHeader.js'%}"></script>

        <!-- Contact Form JavaScript -->

        <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'js/contact_me.js' %}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'js/freelancer.js' %}"></script>

</body>
</html>
