{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Google</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/google-homepage.css' %}"/>
</head>

<body>

    <header class="banner">
        <ul>
            
            <li><a href="https://www.google.com/imghp?hl=en&ei=Kxo8VY4sybiwBe7bgNAL&ved=0CAMQqi4oAg">Images</a></li>
            <li><a href="https://mail.google.com/mail/">Gmail</a></li>
            <li><a href="https://plus.google.com/u/0/">+Shaylee</a></li>

        </ul>
    </header>

    
    
        <div> 
            <img id="google" src="https://www.google.com/images/srpr/logo11w.png" style="padding-top: 112px" width="269">

        </div>

    
    <form >
        <div id="searchbox">
        <input type="text" name="searchbox" placeholder="Search" maxlength="50" size="50"><br />
            </div>


    <div id="buttons">
        <button type id="button">Google Search</button>
        <button type id="l_button">I'm feeling lucky</button>
    </div>

    </form>
    



    <footer>

        <div id="bar" >

        <span id="left">

            <ul>

        <li><a href="https://www.google.com/intl/en/ads/?fg=1">Adversiting</a></li>
        <li><a href="https://www.google.com/services/?fg=1">Business</a></li>
        <li><a href="https://www.google.com/intl/en/about.html?fg=1">About</a></li>

            </span>

    <span id="right">


            <li class="right"><a href="https://www.google.com/preferences?hl=en">Settings</a></li>

            <li class="right"><a href="https://www.google.com/intl/en/policies/terms/?fg=1">Terms</a></li>

            <li class="right"><a href="https://www.google.com/intl/en/policies/privacy/?fg=1">Privacy</a></li>

                
            </ul>
        </span>

        </div>

    </footer>



</body>

    

</html>