{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}"  rel="stylesheet">
    

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/projects.css'%}">
</head>
<body>

    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                 <img id="idea" src="{% static 'images/pink_hair-gotit.png' %}">
                 <img id="stuck" src="{% static 'images/pink_girl_music.png' %}">
                 <h1>Projects</h1> 
            </div>

           


        <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!--<h2>Portfolio</h2>-->
                   
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                 <p>HTML & CSS & jQuery</p>  
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;" src="{% static 'images/jquery.png'%}" class="img-responsive" alt="">
                        <a href="/j_streetfighter"><p>jQuery Street fighter</p></a>   
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS </p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;" src="{% static 'images/google_homepage.png'%}" class="img-responsive" alt="">
                        <a href="/google"><p>Google Page</p></a>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS </p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px" src="{% static 'images/search.png'%}" class="img-responsive" alt="alt">
                        <a href="/google_search"><p>Google Search</p></a>    
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS & Bootstrap</p>
                            </div>
                        </div>
                         <img style="width: 360px; height: 288px;" src="{% static 'images/grid.png' %}">  
                        
                        <a href="/grid"><p>Bootstrap Grid</p></a>
                        
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                 <p>HTMl & CSS & Bootstrap</p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;"  src="{% static 'images/luigi.png' %}">
                        
                        <a href="/luigi"><p>Boostrap Luigi</p></a>
                       
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS </p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;"src="{% static 'images/karma.png'%}" class="img-responsive" alt="">
                        <a href="/landing_page"><p>Karma, Landing Page</p></a>
                    </a>
                </div>
                

                 <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <img style="width: 360px; height: 288px;" src="http://www.swcomps.com/wp-content/uploads/2015/02/coming-soon.png" class="img-responsive" alt="">
                        <p>Coming Soon</p>
                    </a>
                </div>

            </div>
        </div>
    </section>

     <!--Portfolio Modals -->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 class="portfolio">Git Hub</h2>
                            <img src="img/portfolio/Github2.png" class="img-responsive img-centered" alt="">
                            <p><a href="https://github.com/swheatley">Github Account</p>
                           
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Django Girls Tutorial and Extension: Blog</h2>
                            <a href="blog.shayleehansen.com">Blog</a>
                            <hr class="star-primary">
                            
                            <p></p>     
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Cereal App</h2>
                            <hr class="star-primary">
                            <p></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Django States</h2>
                            <a href="http://firstdjango.shayleehansen.com">Django States</a>
                            <hr class="star-primary">
                            <img src="img/portfolio/game.png" class="img-responsive img-centered" alt="">
                          <p></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                            <p></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                            <p></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->




        


</div>

        <!-- jQuery -->
    <script src="{% static 'js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js'%}"></script>

    <!-- Contact Form JavaScript -->
   
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>
</body>
</html>