{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
    <link href="{% static 'css/mystyle.css' %}"  rel="stylesheet">
    

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/projects.css'%}">
</head>
<body>

    <div class="container-fluid">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row first-container">
                 <img id="stuck" src="{% static 'images/pink_girl_music.png' %}">
                  <img id="idea" src="{% static 'images/pink_hair-gotit.png' %}">
                 <h1>Beginner Projects</h1> 
            </div>
            <section id="portfolio">
            <div class="container">
                <div class="row">

                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                 <p>HTML & CSS & jQuery</p>  
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;" src="{% static 'images/jquery.png'%}" class="img-responsive" alt="">
                        <a href="/j_streetfighter"><p>jQuery Street fighter</p></a>   
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS </p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;" src="{% static 'images/google_homepage.png'%}" class="img-responsive" alt="">
                        <a href="/google"><p>Google Page</p></a>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS </p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px" src="{% static 'images/search.png'%}" class="img-responsive" alt="alt">
                        <a href="/google_search"><p>Google Search</p></a>    
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS & Bootstrap</p>
                            </div>
                        </div>
                         <img style="width: 360px; height: 288px;" src="{% static 'images/grid.png' %}" class="img-responsive" alt="alt">  
                          <a href="/grid"><p>Bootstrap Grid</p></a>    
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                 <p>HTMl & CSS & Bootstrap</p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;"  src="{% static 'images/luigi.png' %}" class="img-responsive" alt="alt">
                        
                        <a href="/luigi"><p>Boostrap Luigi</p></a>
                       
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <p>HTMl & CSS </p>
                            </div>
                        </div>
                        <img style="width: 360px; height: 288px;"src="{% static 'images/karma.png'%}" class="img-responsive" alt="">
                        <a href="/landing_page"><p>Karma, Landing Page</p></a>
                    </a>
                </div>
                

                 <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                        <img src="http://placehold.it/360x288">
                        <p>Coming Soon</p>
                    </a>
                </div>

            </div>
        </div>
        
    </section>
</div>

        <!-- jQuery -->
    <script src="{% static 'js/jquery.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'js/classie.js' %}"></script>
    <script src="{% static 'js/cbpAnimatedHeader.js'%}"></script>

    <!-- Contact Form JavaScript -->
   
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/freelancer.js' %}"></script>
</body>
</html>