.masthead-intro, .masthead-heading{
  text-align: center;
  font-size: 3em;
  color: white;
  
}
.masthead{
  padding: 6em 0;
  background-image: url('https://download.unsplash.com/photo-1421986527537-888d998adb74');
  background-repeat: no-repeat;
  background-size: cover;

}
body{
  font-family: 'Chango', cursive;
  margin: 0;
}
.masthead-intro{
  margin-bottom: 0.1em;
  padding-top: 2em;
  padding-bottom: .5em;
  
}
.masthead-heading{
  margin-top: -0.2em;
  
}
h2{
 font-size: 2em;
}
h3{
  color: gold;
  font-size: 1.8em;
  text-align: center;
}
p{

  font-family: verdana, sans-serif;
  font-weight: italic;
  font-size: 1.8em;
  float: center;
  line-height: 2;
}
section{
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  
}
a{
  
  margin: 0;
  text-decoration: none;
  
}
li{
  list-style-type: none;
  display: inline;
  padding: 1em;
   
}
ul{
  text-align: center;
  
}
i{
  color: gold;
}