header{

	background-color: #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	margin: auto 0;	
}

img{
	padding: 20px;
}
.google #searchbar{
	display: inline-block;
	
}

.search_categories li{
	color: #D3D3D3;
	display:inline-block;
	font-size: 16px;
	margin-right: auto;
	margin-left: 15px;
	padding: 10px;
	
	
}
.search_categories a {
	text-decoration: none;
	color: #D3D3D3;
	font-weight: bold;
	
}
 .search_categories a:hover{
	color: #dd4b39;
	text-decoration: none;
	border-bottom: #dd4b39;

}
/* ------- Body --------*/

.search_results li{
	list-style-type: none;
	margin-left: 50px;
	font-size: 18px;
	padding: 20px;
	
	
	

	
}



/* Footer CSS ---------- */
.hspt{
	background-color: #D3D3D3;
	
}
.hspt li{
	display: inline;
	margin-left: 15px;
	padding: 5px;
	color: gray;

}