
body{
    background-color: black;
    font-family: 'Shadows Into Light', cursive;
}
.linkedin{
    width: 400px;
    border-radius:65%;
}
.navbar-default{
    background-color: black;
}
#portfolio{
    background-color: black;
}
.pink, .btn-success{
    background-color: hotpink;
}
h2{
    color: white;
}
#about{
    background-color: white;

}
footer .black{
    background-color:black;
}
footer .footer-below{
    background-black;
}
.black,.portfolio{
    color: black;
}
#about{
    background-color: black;
}
/* skills section */

.skills ul{
    list-style-type: none;

    
}
.skills li{
    display: inline;
}
.skills img{
    width: 350px;
    height: 300px;
    padding: 10px;
    border-radius: 20%;
    
}
#skills {
    margin-bottom: 20px;
    margin-top: 20px;
}
.success{
    background-color: hotpink;
    padding:20px;
}
/* Blog */

.blog_images ul{
    display: inline;
}
/* Resume */

h2.black-2{
    
    text-align: center;
}
.black-2{
    color:white;
    font-family: 'Shadows Into Light', cursive
}

.web-developer{
    letter-spacing: 2px;
    color: white;
    margin-top: 5%;
    text-align: center;
    font-family: 'Shadows Into Light', cursive
}
h2.black-2{
    
    text-align: Center;
    font-size: 70px;

}
h3.black-2, .github{
    color: #F3137F;
}
h3.black-2, .work-section, .education-section{
    text-align: left;
}
#resume{
    color: #F3137F;
}


.skill-section,.education-section li, .projects li,.work-section li, p{
    color: white;
    list-style-type: none;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 18px;
}
h3.skill-section{
    text-align: right;
    margin-right: 5%;
    font-size: 40px;
}
 .languages li, .familiar{
    display:block;
    color: white;
    letter-spacing: 4,px;
    font-size: 20px;
    text-align: right;
    list-style-type: none;
    margin-right: 5%;



}
.languages ul{
    text-align: left;

}
 .projects  {

    text-align: left;
      margin-top: -53%;
    margin-right: 40%; 
}

.projects li{

    margin: 10px;
    display: block;
}

.project-heading ,h3.education-section{
    margin-left: 4%;
    font-size: 40px;
}
h3.work-section{
    margin-left: 5%;
    font-size: 40px;
}
.django{
    color: black;
    font-weight: bolder;
    font-size: 15px;
    padding: 10px;
}
p{
    color: white;

}
.educaiton-section, .work-section{
    margin: 10px;
    margin-right: 40%; 
    text-align: left;

}
.employer-name{
    font-weight: bolder;
}
li.title, .title{
    color: #DCF233;

}

/*#resume{
    background-color: black;
}


.skill-section,.education-section li, .projects li,.work-section li, p{
    color: white;
    list-style-type: none;
    letter-spacing: 2px;
    padding: 10px;

}
 .languages li{
    display:inline;
    color: white;
    letter-spacing: 4,px;
    font-size: 20px;
}
*/