
body{
    background-color: black;
    font-family: 'Shadows Into Light', cursive !important;
    //width: 750px;
    height: 750px;
}
.linkedin{
    width: 400px;
    border-radius:65%;
}
.navbar-default{
    background-color: black;
}
#portfolio{
    background-color: black;
}
.pink, .btn-success{
    background-color: hotpink;
}
h2{
    color: white;
}
#about{
    background-color: white;

}
footer .black{
    background-color:black;
}
footer .footer-below{
    background-black;
}
.black,.portfolio{
    color: black;
}
#about{
    background-color: black;
}
/* skills section */

.skills ul{
    list-style-type: none;


}
.skills li{
    display: inline;
}
.skills img{
    width: 350px;
    height: 300px;
    padding: 10px;
    border-radius: 20%;

}
#skills {
    margin-bottom: 20px;
    margin-top: 70px;
}
.success{
    background-color: hotpink;
    padding:20px;
}

.portfolio-item{
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Resume */
.main-content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.black-2{

    color: #F3137F;
    font-family: 'Shadows Into Light', cursive
}
h2.black-2{
    font-size: 70px;

}
h3.black-2, .github{
    color: #F3137F;
}
li.title, .title{
    color: #DCF233;

}
p{
    color: white;
}
p:hover{
    color:#18bc9c;
}
#resume{
    color: #F3137F;
}
.web-developer{
    letter-spacing: 2px;
    color: white;
    font-family: 'Shadows Into Light', cursive
}
.main-content-small{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  bottom: 601px
}
.g-commerce{
  color: #EA5825;
}

.skills-section{
  align-self: flex-end;
  margin-top: 50px;


}
h3.skill-section{
    font-size: 40px;
}
.skill-section,.education-section li, .projects li,.work-section li, p{
    font-size: 20px;
    color: white;
    list-style-type: none;
    letter-spacing: 2px;
}
.languages li, .familiar{
  color: white;
  letter-spacing: 4,px;
  font-size: 20px;
  list-style-type: none;


}
.resume-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.projects{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.project-heading ,h3.education-section{
  font-size: 40px;
}
 .list-section{
     max-width: 70%;

 }
.work-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h3.work-section{
  font-size: 40px;
}
.employer-name{
    font-weight: bolder;
}
.education-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.django{
    color: black;
    font-weight: bolder;
    font-size: 15px;

}


/* Mobile Responsive */

.fa-arrow-circle-up{
  margin-left: -9px;
  margin-top: -8px;
}
